h1 {
    text-align: center;
}

p {
    align-items: center;
}

.pic { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
 