body {
    background-color: dodgerblue;
}

.info{
    color: white;
    text-size-adjust: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.container {
  display: flex;
  height: 200px;
  align-items: stretch;
  background-color: DodgerBlue;
  align-items: center;
}

.container div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  align-items: center;
}

.movie{
  color: white;
  text-size-adjust: 20;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}

.music{
  color: white;
  text-size-adjust: 20;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}