body {
    background-color: lightblue;
}

h1{
    color: blue;
    text-align: center;
}

.container {
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color:black
    border: 1px;
    border-radius: 8px;
}

.container p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}