body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/069/755/579/large/therizzler-ninjuras-screenshot-2023-10-24-215149.jpg?1700923309");
}

h1{
    color: white;
    text-align: center;
}

.info{
    color: white;
    text-align: center;
    text-size-adjust: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

